@import "tailwindcss";

@font-face {
  font-family: 'Gulya';
  src: url("../../../public/assets/assets/font-gulya.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  .font-gulya {
    font-family: 'Gulya' !important;
  }
}

html, body {
    font-family: 'Helvetica', sans-serif;
}