@import "tailwindcss";

@font-face {
  font-family: 'Gulya';
  src: url("/assets/font-gulya.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  .font-gulya {
    font-family: 'Gulya';
    src: url("/assets/font-gulya.otf") format("opentype");
  }
}

html, body, *{
    font-family: 'Helvetica';
}