@import "tailwindcss";

@font-face {
  font-family: 'Caros';
  src: url("./font-caros.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gulya';
  src: url("./font-gulya.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  .font-gulya {
    font-family: 'Gulya';
  }
}

html, body {
    font-family: 'Caros', sans-serif;
}